@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-Montserrat: 'Montserrat', sans-serif;
  /* heading */
  --font-Roboto: 'Roboto', sans-serif;
  /* body */
}

h2 {
  font-family: var(--font-Montserrat);
  font-size: large;
  letter-spacing: .5px;
}

p {
  font-family: var(--font-Roboto);
  font-size: 15px;
  letter-spacing: .7px;
}

* {
  margin: 0;
  padding: 0;
}

.main-body {
  @apply bg-gradient-to-b from-background-gray to-white w-full h-screen
}

.first-nav {
  @apply bg-secondary-blue/90 flex justify-between items-center p-3 shadow-md shadow-primary-blue
}

.search{
  @apply w-full
}

.nav-box {
  @apply flex justify-start w-full gap-5
}

.search-box {
  @apply flex justify-center items-center border-2 border-primary-yellow outline-none rounded-full bg-white p-2
}

.search-box input {
  @apply bg-transparent outline-none px-2 w-full
}

.goSearch {
  @apply text-primary-blue size-6
}

.nav-menu {
  @apply size-6 relative
}

.dropdown-menu {
  @apply absolute bg-gray-50 z-10 rounded-md shadow-lg 
}

.dropdown-menu ul li {
  @apply border-b-2 px-5 py-2
}

.dropdown-menu ul li:last-child{
  @apply border-0
}

.Offers, .nav-menu {
  @apply text-white hover:text-primary-yellow cursor-pointer hover:scale-105
}

.nav-button {
  @apply border border-primary-yellow bg-primary-yellow px-2 py-1 text-blue-800 font-semibold rounded
}

.side-msg {
  @apply flex flex-col
}

.right-nav {
  @apply flex justify-end items-center gap-5 w-full
}

.Sidebar {
  @apply absolute w-full flex justify-end h-full z-10
}

.bg-secondary {
  @apply bg-secondary-gray
}

.logo-img {
  @apply h-10 w-10 rounded-full
}

.swiper {
  width: 100%;
  height: 100%;
  margin: 2% 0 2% 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 85%;
  height: 250px;
  object-fit: fill;
  margin: auto;
  border-radius: 30px;
}

.tab-card {
  @apply w-full
}

.main-card {
  @apply px-10 grid grid-cols-5 gap-10
}

.card {
  @apply shadow-md shadow-secondary-gray rounded
}

.card-text {
  @apply p-2
}

.card-img {
  @apply object-fill h-80 w-full rounded-t-md
}

.rating-box {
  @apply bg-black rounded-b-md text-white px-3 py-2
}

.star {
  @apply flex gap-2 justify-start items-center
}

.tablist {
  @apply flex justify-start items-center w-[50%]
}

.tab {
  @apply w-full text-center py-2 outline-none hover:bg-blue-100 rounded-t-md focus:bg-blue-200 cursor-pointer focus:border-b-2 focus:border-yellow-400 active:border-b-2 active:border-yellow-400 active:bg-blue-200
}

.active {
  @apply border-b-2 border-yellow-400 bg-blue-200
}

.tablist-style {
  @apply mx-10 my-5 border-b
}

.cover-img {
  @apply h-[80vh] bg-cover bg-center flex justify-start p-[2rem] text-white gap-14
}

.detail-content {
  @apply flex flex-col gap-y-3 my-10
}

.title-text {
  @apply text-4xl font-semibold
}

.detail-rating {
  @apply flex justify-start items-center gap-2 text-xl
}

.detail-language {
  @apply bg-gray-300/90 py-2 px-4 text-black rounded-md w-fit
}

.detail-list {
  @apply flex justify-start items-center gap-5
}

.detail-list p {
  @apply text-lg
}

.book-button {
  @apply bg-primary-blue rounded-md py-2 w-3/4
}

.about, .cast, .crew {
  @apply py-6 mx-10 px-5 flex flex-col gap-y-3 border-b-2
}

.about-heading, .cast-heading, .crew-heading {
  @apply text-3xl font-bold
}

.form-bg {
  @apply flex items-center justify-center h-[89%] bg-gray-100
}

.form-popup {
  @apply bg-white p-8 rounded-2xl shadow-md w-full max-w-md space-y-6
}

.form-title {
  @apply text-2xl font-semibold text-center
}

.form-box {
  @apply flex flex-col gap-1
}

.form-input {
  @apply border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500
}

.form-btn {
  @apply w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-200
}

.change-form {
  @apply text-primary-blue text-[16px]
}

.change-text {
  @apply text-sm text-center
}

.cast-crew {
  @apply flex gap-10
}

.cast-crew-img {
  @apply h-24 w-24 rounded-full mx-auto
}

.cast-crew p {
  @apply text-wrap text-center mx-auto w-[80%]
}

.offer-bg{
  @apply h-[89%] bg-gray-100 px-14 py-10
}

.offer-heading{
  @apply text-3xl mb-10 text-center font-bold
}

.offer-cards{
  @apply flex gap-3
}

.card-offer{
  @apply flex justify-center items-center px-5 gap-3 border text-white rounded-xl shadow-lg w-[350px] h-[200px] bg-gradient-to-r from-primary-blue to-blue-400
}

.offer-img{
  @apply h-16 w-20 rounded-full
}

.card h2{
  @apply font-bold
}

.card p{
  @apply text-sm my-1.5
}

.card-copy{
  @apply flex gap-2 justify-start items-center
}

.card-copy p {
  @apply text-[16px] font-semibold
}

.capy-text{
  @apply border border-dashed rounded-md bg-gray-50/10 px-2 py-1
}

.copy-icon{
  @apply size-5
}

.theatre-list {
  @apply bg-gray-50
}

.theatre-list div {
  @apply border-b-[2px]
}

.theatre-heading-box{
  @apply px-10 py-6
}

.theatre-heading{
  @apply text-2xl mb-1 font-semibold tracking-normal
}

.theatre-heading-box p {
  @apply flex gap-1
}

.theatre-heading-box p span {
  @apply border rounded-full py-0.5 px-2 border-black/70 text-xs
}

.date-list{
  @apply px-10 py-6 flex gap-2
}